#info {
    position: absolute;
    top: 0px;
    width: 100%;
    padding: 10px;
    text-align: center;
    color: #ff0000
}

#music_player {
    position: absolute;
    top: 0px;
    width: 100%;
    padding: 10px;
    text-align: left;
    color: #ff0000
}